/* ========== Global Styles ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container {
  width: 100%;
  overflow-x: hidden;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.container {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}